<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>하고싶은 일 등록</title>
    <link href="../css/bootstrap.min.css"
          th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
</style>
</head>
<body>
<h1>하고싶은 일 등록</h1>
<hr>
<form th:action method="post">
    <div class="form-group">
        <label>하고싶은 일</label>
        <input type="text" class="form-control" id="title" name="title" placeholder="제목을 입력하세요">
    </div>
    <div class="form-group">
        <label>기간</label>
        <input type="text" class="form-control" id="period" name="period" placeholder="기간을 입력하세요">
    </div>
    <div class="form-group">
        <label>경비(단위:만원)</label>
        <input type="text" class="form-control" id="cost" name="cost" placeholder="경비를 입력하세요">
    </div>
    <br>
    <button type="submit" class="btn btn-primary">등록</button>
    <button onclick="location.href='wishes.html'"
            th:onclick="|location.href='@{/basic/wishes}'|"
            type="button" class="btn btn-secondary">취소</button>
</form>
</body>
</html>